@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Dote";
  src: url("./../assets/fonts/DungGeunMo OTF/DungGeunMo.otf") format("woff");
}

@font-face {
  font-family: "Elice DX Neolli";
  src: url("https://font.elice.io/css?family=Elice+DX+Neolli");
}

@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;
    letter-spacing: 0.65px;
    @screen tablet {
      font-size: 0.875rem;
    }

    @screen mobile {
      font-size: 0.75rem;
    }
  }
}
